body {
    font-family: Pacifico, Roboto Slab;
    background: url("../images/background-1920.jpg") no-repeat center center;
}

h1 {
    font-weight: 300;
}

.container {
    margin-bottom: 100px;
    text-align: center;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.ball {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.ball1 {
    background-color: #9AC5F4;
}

.ball2 {
    background-color: #FFBFA9;
}

.ball3 {
    background-color: #7EAA92;
}

.ball4 {
    background-color: #FBFFB1;
}

.ball5 {
    background-color: #D7BBF5;
}

.scoredisplay {
    border-radius: 25%;
    box-sizing: border-box;
    background-color: #E6ECF0;
    height: 80px;
    width: 160px;
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
}

.button {
    background-color: #FF5A60;
    border: 0;
    height: 80px;
    width: 160px;
    border-radius: 25%;
    margin: 0 auto;
    display: block;
    font-weight: 600;
}