body {
    font-family: Pacifico, Roboto Slab;
}

h1 {
    font-weight: 300;
}

.container {
    margin-bottom: 100px;
    text-align: center;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.ball {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.ball1 {
    background-color: blue;
}

.ball2 {
    background-color: red;
}

.ball3 {
    background-color: green;
}

.ball4 {
    background-color: yellow;
}

.ball5 {
    background-color: purple;
}