body {
    font-family: Pacifico, Roboto Slab;
    background: url("../images/background-1920.jpg") no-repeat center center;
}

h1 {
    font-weight: 300;
}

.container {
    margin-bottom: 100px;
    text-align: center;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.ball1 {
    background-color: #9AC5F4;
    border: 10px solid #66a9f0;
}

.ball2 {
    background-color: #FFBFA9;
    border: 10px solid #f88e6a;
}

.ball3 {
    background-color: #a7c9b6;
    border: 10px solid #4cac77;
}

.ball4 {
    background-color: #FBFFB1;
    border: 10px solid #f1f86e;
}

.ball5 {
    background-color: #D7BBF5;
    border: 10px solid #b67df3;
}

.scoreDisplay,
.movesLeft,
.scoreTitle,
.timer {
    border-radius: 25%;
    box-sizing: border-box;
    background-color: #E6ECF0;
    height: 80px;
    width: 160px;
    text-align: center;
    margin: 0 auto;
}

.scoreDisplay,
.movesLeft,
.timer {
   font-size: 3em;
}

.button {
    background-color: #FF5A60;
    border: 0;
    height: 80px;
    width: 160px;
    border-radius: 25%;
    margin: 0 auto;
    display: block;
    font-weight: 600;
}

.scoreTitle {
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 25px;
}

.highlight {
    border: 40px solid red ;
}